# Dependencias
/node_modules

# Build
/dist
/.angular

# Cobertura
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# IDEs
.idea/
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db